* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

#header-primary {
    background-color: #d2d2d2;
    padding: 15px 0;
    position: relative;
}

#header-primary .logo {
    max-width: 120px;
}

#header-primary .logo img {
    width: 100%;
}

#header-primary nav {
    margin-left: auto;
    flex-grow: 0 1;
}

#header-primary ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
}

#header-primary ul li {
    margin: 0 10px;
    position: relative;
    display: flex;
    
}

#header-primary ul li:last-child {
    margin-right: 0;
}

#header-primary ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    transition: all ease-in-out 200ms;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-primary ul li a:hover {
    color: #0000ff;
}

#header-primary ul li .submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 35px;
    left: -15px;
    height: auto;
    padding: 0;
    background-color: #d2d2d2;
}

#header-primary ul li .submenu:hover {
    display: block;
    background-color: #5f67;
}


#header-primary ul li .submenu li{
    margin: 0;
    padding: 15px;
}

#header-primary ul li .submenu li a {
    width: 100%;
}

#header-primary ul li .submenu li:hover{
    background-color: #5f67ef;
}

#header-primary ul li a:hover ~ .submenu {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
}

.cursos-section {
    margin-top: 30px;
    justify-content: space-between;
}

@media (min-width: 640px) {
    #header-primary ul li a {
        color: #0000ff;
    }
}


.naoseioquefazer{
    font-family: Ubuntu;
    width: 240px;
    display: inline-block;
    background:#940000; 
    color: #fff;
}

.naoseioquefazer img {
    width: 100%;
}

